* {
  margin:0px;
  padding:0px;
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  line-height: 130%;
  padding-left:10px;
}
body {
  background: url(achtergrondwater.jpg) repeat;
  color:black ;
}
body.introductie {
  background: url(introductie.PNG) 100% 100% no-repeat, url(achtergrondwater.jpg) repeat fixed;
  background-size: 35%, 35%;
}
header{
  text-shadow: 1px 1px 5px blue;
  font-size: 35px;
  text-align: center;
  }
li.navigatie {
  display: inline-block;
  border: 3px solid blue;
  background-color: lightblue;
  border-radius: 30px 10px 30px 10px;
  padding: 2px;
  padding-left:7px;
  padding-right: 7px;
}
a {
  font-style: normal;
  text-decoration: none;
  color:black;
}
li.navigatie:hover {
  background-color: blue;
}
ol {
  padding-left:40px;
}
p.Deel {
  color:black;
  Background-color: lightsteelblue;
  font-size: 20px;
  margin: 7px;
}
.opsommingbalansverslag {
  background-color:paleturquoise;
  padding-left:50px;
}
p.vraag {
  margin-top: 20px;
  background-color:skyblue;
}
p.antwoord {
  background-color: paleturquoise;
  padding-left: 30px;
}
footer{
  font-style: italic;
}
span.inleiding {
  font-style: bold;
  text-shadow: 0px 0px 2px darkmagenta;
}
p.Opdracht{
  background-color: darkturquoise;
  font-size: 20px;
  text-align:center;
}
p.Schrijver {
  font-size:20px;
  text-align:right;
  padding-right: 30px;
}
table.Tabelopdracht {
  background-color:paleturquoise;
  padding-left:30px;
}
td, tr {
  padding-right: 15px;
  padding: 3px;
  border-bottom: 1px solid black;
  mouse-hover: background-color(black);
}
tr:nth-child(even) {
  background-color: #ccffff;
}
a href {
  font-style: italic;
  text-decoration: underline;
}
p.verhaal {
  color:black;
  Background-color: lightsteelblue;
  margin:7px;
}
